ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  body {
    background-color: #1d1a1a;
  }

img {
    width: 400px;
    margin: 15px;
    display: inline-block;
}

hr {
    width: 70%;
    margin-left: 0px;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: rgb(243, 243, 243);
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}